{% extends 'base.html' %}

{% block nav %}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container custom-container-width">
    <h2 class="profile">Register</h2>
    <form action="register" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            <input type="text" name="name" class="form-control" placeholder="設定一個暱稱(20字以內)" required />
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Username</label>
            <input type="text" name="username" class="form-control" placeholder="帳號(20字以內)" required />
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Password</label>
            <input type="email" name="email" class="form-control" placeholder="電子郵件" required />
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Password</label>
            <input type="password" name="password1" class="form-control" placeholder="密碼" required />
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Password</label>
            <input type="password" name="password2" class="form-control" placeholder="確認密碼" required />
        </div>
        <input class="btn btn-primary" type="submit" value="Register" />
        {% for message in messages %}
        <h4>{{message}}</h4>
        {% endfor %}
    </form>
</div>

{% endblock %}